<!DOCTYPE html>
<html>
<head>
  <title>StockOO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<%= root_path %>">
          StockOO
        </a>
        <ul class="nav">
          <% main_menu.each do |section| %>
            <li class="<%= if section[:url] == request.path then "active" else "" end %>">
              <a href="<%= section[:url]  %>"><%= section[:label]%></a>
            </li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <li>
            <%= link_to current_admin.name, "#" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="span8">
        <%= yield %>
      </div>
      <div class="span4">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
